

.container{
    display: flex;
    justify-content: center;
    width: 65%;
    margin-top: 7% !important;
}
@media(max-width:770px){
    .container{
        width: 100%;
        
    }
}
@media(max-width:580px){
    .container{
        width: 100% !important;
        display: grid;
        
        
    }
    .lineChartGraph{
        height: 100vh !important;
    }
}
/* @media(max-width:440px){
    
    .lineChartGraph{
        height:  !important;
    }
} */
