body{
    background-color: rgb(250, 250, 250);
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.covid{
     width:550px;
    margin-top:40px;
}

@media(max-width:770px){
.container{
    margin: 0 12%;
}
.covid{
    width:100%;
}
}

.footer{
    margin-top: 15px;
    width: 100%;
    height: 45px;
    background-image: linear-gradient( 109.6deg,  rgba(102,203,149,1) 11.2%, rgba(39,210,175,1) 98.7% );
    text-align: center;
}
.footer > h2{
    padding-top: 5px !important;
}