.container {
  display: flex;
  flex-direction: row;
  width: 80% !important;
  justify-content: center;
  flex-wrap: wrap;
}
.barChartCase {
  width: 500px !important;
}

.piChartId {
  width: 500px !important;
  margin-top: 20px;
}

@media (max-width: 600px) {
  .piChartId {
    margin-left: 10px;
  }
}
@media (max-width: 500px) {
  .piChartId {
    margin-left: 60px;
  }
}

@media (max-width: 400px) {
  .piChartId {
    margin-left: 40px;
  }
}
@media (max-width: 350px) {
  .barChartCase {
    margin-left: 30px;
  }
}
